apiVersion: v1
kind: Service
metadata:
  name: {{ project_type | replace("_", "-") }}-api
spec:
  selector:
    app: {{ project_type | replace("_", "-") }}-api
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8000
  type: ClusterIP
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ project_type | replace("_", "-") }}-ingress
  annotations:
    nginx.ingress.kubernetes.io/proxy-read-timeout: "120"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "120"
spec:
  rules:
    - http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ project_type | replace("_", "-") }}-api
                port:
                  number: 80
{% if needs_redis %}
---
apiVersion: v1
kind: Service
metadata:
  name: redis
spec:
  selector:
    app: redis
  ports:
    - port: 6379
      targetPort: 6379
  type: ClusterIP
{% endif %}
